{% extends 'base.html' %}

{% block content %}

    <div class="col-lg-9">
              <div class="card h-100">
                <div class="embed-responsive embed-responsive-10by9">
                  <a href="#">
                    <img src="{{ beer_style.image_url }}"  alt="Photo" width=100% height =100%>
                  </a>
                </div>
                <div class="card-body">
                  <h4 class="card-title display-4">
                    {{beer_style.name}}
                  </h4>
                  <p class="card-text lead">{{ beer_style.description }}</p>
                </div>
                <div class="card-footer">
                  <small class="text-muted">
                    {{ beer_style.source }}
                  </small>
                  <a href="{{ url_for('main.database') }}" class="btn btn-outline-secondary btn-sm">Back</a> 
                </div>
              </div>
          </div>
      </div>
    </div>
  </div>

{% endblock %}