{% extends "base.html" %}
{% set active_page = 'info' %}

{% block content %}
<div class="text-center">
    <br>
    <h2>Dataset</h2>
</div>
<div class="col-lg-9">

    <div class="row my-5 card-wrapper">

        <h2><a href='https://www.kaggle.com/stephenpolozoff/top-beer-information?select=beer_data_set.csv'>Beer Information - Tasting Profiles
        </a></h2>
        
    </div>
    <div class="row my-5 card-wrapper">

        <h2><a href='https://www.kaggle.com/nickhould/craft-cans?select=breweries.csv'>Craft Beers Dataset
        </a></h2>
        
    </div>
    <div>
        <h4><a href='https://ntoliverapp.github.io/'>Portfolio </a></h4>
        </div>
        <div>
            <h4><a href='https://www.linkedin.com/in/niq-toliver/'>Linkedin </a></h4>
            </div>
</div>


{% endblock %}