{% extends 'base.html' %}
{% block title %}Update account {{ current_user.username }} - {% endblock %}
{% from '_error_messages.html' import field_error_messages, error_messages %}

{% block content %}
<div class="row">
  <div class="col-lg-7 offset-lg-2 my-5">
    <h1 class="display-4">Update account - <a href="{{ url_for('account.show', username=current_user.username) }}">{{ current_user.username }}</a></h1><hr>
    <form method="POST" action="{{ url_for('account.edit') }}">
      {{ form.csrf_token }}
      {{ error_messages(form.errors) }}
      <div class="form-group">
        {{ form.email.label }}
        {{ form.email(class="form-control") }}
        {{ field_error_messages(form.email) }}
      </div>
      <div class="form-group">
        {{ form.username.label }}
        {{ form.username(class="form-control") }}
        {{ field_error_messages(form.username) }}
      </div>
      <hr>
      <div class="form-group">
        {{ form.submit(class="btn btn-primary form-control") }}
      </div>
    </form>
  </div>
</div>
{% endblock %}
